.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.custom-chart {
  height: 100%;
  margin-bottom: 50px;
}

.row {
  display: flex;
}

.button {
  background: black;
  color: white;
  border: black;
  padding: 4px;
  cursor: pointer;
  margin-bottom: 30px;
}
